
section(id='skills')
	ul
		each item in sections[1].content
			li(
				class= `skill-${item.name.toLowerCase()} size--${item.size}`
				style= `background-color: ${item.background}`
			)
				if item.text
					.inner= `${item.text}`
				else
					.inner= `${item.name}`