
section(id='skills')
	h2 [...skills]
	ul
		each item in sections[1].content
			li(
				data-size=`${item.size}`
				data-skill=`${item.name.toLowerCase()}`
				data-confidence=`${item.confidence}`
				style=`background-color: ${item.background}`
			)
				if item.text
					.inner= `${item.text}`
				else
					.inner= `${item.name}`